/* Customização das setas laterais */
.swiper-button-prev,
.swiper-button-next {
  width: 25px;
  height: 25px;
  color: white !important; 
  background: rgba(0, 0, 0, 0.5); 
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px !important;
  color: white !important;
}

/* Customização das bolinhas de paginação */
.swiper-pagination {
  visibility: hidden;
}
